*{
    box-sizing: border-box;
}
body{
    background-color: white;
    font: 1em Segoe UI;
    margin: auto;
}
.container{
    background-color: white;
    margin: 0%;
}

.logo{
   display: flex;
   justify-content: center;
   align-items: center;
    height: auto;
    padding: 10px;
    margin-top: auto;
    text-align: center;
    margin-bottom: auto;

}
.navcontainer{
    clear: both;
    margin-top: auto;
    background-color: #fd8905;
}
.navbar{
    width: 100%;
}

.navbar ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    text-align: center;
}

.navbar a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.navbar a:hover{
    color: #fd8905;
    background-color: rgb(255, 255, 255);
}

.navbar li{
    display: inline-block;
    
}

.banner{
    margin-top: -20px;
    background-image: url(pictures/1.jpeg);
    background-color: rgb(112, 112, 112);
    height: 700px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.banner h1{
    position: relative;
    top: 20%;
    text-align: center;
    color: white;
}
.banner p{
    font-weight: lighter;
    text-align: center;
    color: white;
    position: relative;
    top: 18%;
}

.name{
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
    color: rgb(101, 101, 101);
}

.about{
    width: 100%;
}

.textcolumn{
    color: rgb(101, 101, 101);

    margin-top: auto;
    display: block;
    width: 33.33%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;

}
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.cards {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.review {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.cards .review h4 {
	margin: 5px;
	color: #fd8905;
}
.cards .review p {
	margin: 0%;
	color: #A3A3A3;
}

.ban1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    clear: both;
    text-align: center;
    margin-top: 0%;
    width: 100%;
    height: 150px;
    background-color:rgb(165, 27, 27);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;

}

.ban1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.ban1 :hover{
    color: #66d355;
    transform: scale(1.2);
}

.styl{
    clear: both;
    display: inline-block;
    width: 100%;
    height: 700px;
}

.mnu{
    padding-top: 100px;
    width: 40%;
    font-size: 36px;
    line-height: 20px;
    color: #09d027;
}

.mnu li{
    text-align: center;
    list-style-type: none;

}

.mnu li:hover{
color: #fd8905;
}

.order{
    margin-left: 30%;
    text-align: center;
    width: 50%;
    height: 100px;
    background-color: #fd8905;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    
}

.order:hover{
    background-color: #ffffff;
    color: #fd8905;

}
    

.img_menu{
    background-image: url(pictures/2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width : 60% ;
    float: right;
    padding-right: 10px;
    height: 100%;
    border: 3px solid #fd8905;
    border-radius: 20px 2px;
}
.banner1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    clear: both;
    text-align: center;
    margin-top: 60px;
    width: 100%;
    height: 200px;
    background-color:rgb(0, 149, 255);
    font-size: 40px;
    font-weight: bold;

}

.banner1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.banner1 :hover{
    color: #fd8905;
    transform: scale(1.2);
}

.gallery{
    margin: 50px auto 50px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    grid-gap: 30px;
}
.gallery img{
    width: 100%;
    height: 350px;
}

.gallery img:hover{
    transform:scale(0.8) rotate(-5deg);
    border-radius: 30px;
    box-shadow: 0 32px 7px #b0afaf;
}
footer{
    margin: 50px auto 50px;

    clear: both;
    background-image: linear-gradient(to right, red, yellow);
    padding: 30px;
    margin-top: 10px;
    width: 90%;
    height: 400px;
    border: 1px solid black;
    background: rgba( 251, 243, 243, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.footerbox{
 color: rgb(255, 255, 255);
 display: inline-block;
 width: 100%;


}
.links{
    margin-top: 10px;
    width: 35%;
    float: left;
}
.links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.links a:hover{
    color: #1c1b1b;
}

.search input[type=text]{

    width: 30% ;
    padding: 6px;
    border: 1px;
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 17px;
}
.search a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.search a:hover{
    color: #151515;

}
.grad{
    padding: 10px;
    background-image: linear-gradient(to right, rgb(255, 146, 4), rgb(243, 187, 48));
}

.copyright{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    margin-top: -1px;
    margin-bottom: 0%;
    padding:10px;
}

















.contain{
    width: 80%;
    margin: 50px auto;
}
.contain h1{
    color: white;
    margin-bottom: 20px;
}
.contain p{
    color:hsl(0, 0%, 100%);
}

.contactbox .contactleft h3{
    color: #fd8905;
    margin-bottom: 30px;
    font-weight: 600;
}

.contactbox{
    background: rgb(255, 255, 255);
    display: flex;
}
.contactleft{

    flex-basis: 60%;
    padding: 40px 60px;
}
.contactleft p{
    color:#fd8905;
}
.contactright{
    flex-basis: 40%;
    padding: 40px;
    background-color: rgb(255, 147, 6);
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #fd8905;
    outline: none;
    padding-bottom: 5px;
}
.inp input{
    position: relative;
    bottom: 25px;
}
textarea{
    width: 100%;
    border: 1px solid #fd8905;
    outline: none;
    padding: 10px;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #fd8905;
}
form button{
    width: 100px;
    height: 50px;
    outline: none;
    margin: 10px;
    background: #fd8905;
    color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
form button:hover{
    background-color: #FFFFFF;
    color: #fd8905;

}
.contactright{
    color: white;
}
 table tr td:first-child{
    padding-right: 20px;
 }

table tr td{
    padding-top: 20px;
}





.menu{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #ffa200;
}

.menu-table {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 90px;
  }
  .menu-table, .menu-table th, .menu-table td {
    border: 1px solid  #ffa200;
    padding: 8px;
    text-align: center;
    border-collapse: collapse;
  }
  .menu-table th {
    background-color:  #ffa200;
    color: white;
  }

